<div class = "jumbotron">
  <%= render 'layouts/navbar' %>
    <div class = "container_jumbo">
        <div class = "text-content">
            <h1>The Market Cat</h1>
            <h3>"Des chats qui ne griffent pas..."</h3>
        </div>
        <div class="image-container">
            <%= image_tag("imageJumbo.png", alt: "Cat", class: "img_jumbo") %>
        </div>
    </div>
</div>


<div class="articles-container" >
<h2>Articles :</h2>

<turbo-frame id="articles">
  <%= render partial: "articles_list", locals: { articles: @articles } %>
</turbo-frame>

<%= render 'layouts/footer' %>
