<div class="article-show-container">
  <!-- Image du produit -->
  <div class="article-image">
    <%= image_tag("chattest.png", alt: @article.name) %>
  </div>

  <!-- Détails du produit -->
  <div class="article-details">
    <p class="article-name-show"><%= @article.name %></p>
    <p class="article-description"><%= @article.description %></p>
  
    <div class="article-price">
      <span><%= number_to_currency(@article.price, unit: "€") %></span>
    </div>
   </div>
</div>
