@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

.body-contact {
  height: 100vh;
}

h2 {
  font-size: 70px;
  letter-spacing: -8px;
  color: #8B4421;
  font-weight: 450;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 0;
  font-family: 'Space Grotesk', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #3D1B0B;
  size: 20px;
  line-height: normal;

}

.container-contact {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  overflow: hidden;
}

.info-contact {
  width: 30%;
  margin-left: 100px;
  margin-top: -50px;
}

.text-info-contact {
  display: flex;
  align-items: center;
  width: 250px;
}

.contact-icon {
  width: 25px;
  margin-right: 10px;

}

.image-contact {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-image {
  width: 80%;
}

@media (max-width: 768px) { 
  .container-contact {
    flex-direction: column-reverse;
    min-height: 500px;
  }

  .image-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .info-contact {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }
}