@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.jumbotron {
    background-color: #FAEED8;
    border-radius: 20px; 
    padding-bottom: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }

  .container_jumbo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;

  }

.img_jumbo {
    max-width: 75%;
    width: 100%;
    height: 100%;
    margin-left: 100px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.btn_article {
  background-color: transparent;
  border: none;
}

  h1 {
    font-size: 100px;
    letter-spacing: -10px;
    color: #8B4421;
    font-weight: 550;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 0px;
    
}

h3 {
    font-size: 40px;
    letter-spacing: -3px;
    color: #E0AB3F;
    margin-top: -1rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card {
    display: flex;
    justify-content: space-between;
}
.article_name{
    font-size: medium;
    color: black;
    margin-left: 12px;
    text-decoration: none;

}

  .articles-container {

    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    color: #8B4421;
    margin: 15px;

  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    

  }
  .article_img {

    display: flex;
    flex-direction: column;
  }
  
  .img_article {
    
  
    width: 100%;
    height: 100%;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cardd{
  width: 500px;
}

  .border_article {

    margin-top: 8px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
    border: 1px solid #ddd;
  }

  .cardd:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }


  .pagination {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .pagination a,
  .pagination span {
    margin: 0 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  

  .pagination a:hover {
    background-color: #ffffff;
    color: #6a3b09;
  }


  @media (max-width: 768px) { 
    .grid{
  display: flex;
  flex-direction: column;

    }


    .articles-container {
      margin-left: auto;
      margin-right: auto;
      padding-top: 30px;
      padding-left: 0px;
      padding-right: 0px;
      color: #8B4421;
      background-color: red;
    }

    .container_jumbo {
      display: flex;
      flex-direction: column-reverse;
      width: 95%;
      margin-left: auto;
  
    }

    .img_jumbo {
      margin-left: 0px;
  }

  .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 80px;

}
  }

