@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

nav {
    background-color: #FAEED8;
    height: 90px;
    width: 100%;
    max-width: 1335px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logonav {
    width: 130px;
}

.containerLink {
    background-color: #FFFFFF;
    height: 50px;
    width: 60%;
    margin-left: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-weight: '00;
}

.linknav {
    margin-left: 10px;
    color: #3D1B0B;
    letter-spacing: -1px;
    text-decoration: none;
    font: ;
}

.linkuser {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.logout-form {

}

.btn-logout {
   background-color: transparent;
   border: none;
   margin-right: 5px;
}

.btnnav-icon {
    width: 23px;
    cursor: pointer;
}

.btnnav-icon:active {
    transform: scale(0.94);
}

.btn-log {
    width: 130px;
    height: 40px;
    background-color: #8B4421;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: -5%;
    cursor: pointer;
    margin-right: 10px;
}

.btn-log:active {
    transform: scale(0.97);
}

.btn-panier {
    background-color: #FFFFFF;
    height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 30px;
    justify-content: center;
    font-size: 16px;
    letter-spacing: -1px;
    color: #3D1B0B;
    font-weight: 400;
    cursor: pointer;
}

.btn-panier:active {
    transform: scale(0.97);
}
.panier-icon {
    width: 30px;
    margin-left: 15px;
}

@media (max-width: 768px) {
    nav {
        max-width: 550px;
    }

    .logonav {
        width: 100px;
    }

    .containerLink {
        margin-left: 20px;
        width: 100%;
    }

    .btn-panier {
        margin-left: 10px;
    }

    .btn-log {
        width: 100px;
        height: 40px;
        background-color: #8B4421;
        border-radius: 15px;
        border: none;
        color: #FFFFFF;
        font-size: 15px;
        letter-spacing: -5%;
        cursor: pointer;
        margin-right: 10px;
    }
  }
