@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

.body-profile {
    width: 100%;
    max-width: 1335px;
    margin-left: auto;
    margin-right: auto;
}


.my-info {
  width: 300px;
  margin-top: -30px;
}

.email-info-container {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #3D1B0B;
  line-height: normal;
}

.btn-primary {
  width: 100px;
  height: 40px;
  background-color: #8B4421;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: -5%;
  cursor: pointer;
  margin-left: auto;
}

.btn-primary:active {
  transform: scale(0.97);
}

.orders-containers {
  margin-top: -10px;
  width: auto;
  max-width: 1000px;
  border: 1px;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  padding-bottom: 20px;

}

.column-name-line {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  
}

.column-name{
  display: flex;
  justify-content: center;
  width: 25%;
  font-weight: bold;

}

.price-element {
  
}



.order-tab {
  display: flex;
  justify-content: center;
  width: 25%;
}

.no-order-yet {
  padding-left: 10px;
}

.no-order {
  text-align: center;
}

.section-admin {
  margin-top: 100px;
}

.btn-primary-add {
  width: 150px;
  height: 40px;
  background-color: #8B4421;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: -5%;
  cursor: pointer;
  margin-left: auto;
}

.cont-add-admin {
  width: 100%;
  max-width: 1335px;
  margin-left: auto;
  margin-right: auto;
  min-height: 550px;
  padding-left: 50px;
}

.form-control {
  border-radius: 7px;
  height: 35px;
  width: 300px;
  border: 1px solid rgb(170, 170, 170);
}

.infoadd {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
}


.order-info-line {
  width: 95%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #D9D9D9;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  cursor: pointer;
}

.order-info-line:active {
  transform: scale(0.97);
}





.list-order-item {
  display: none; 
  width: 95%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #D9D9D9;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: #e4e4e4;
  margin-bottom: 20px;
}

.traitsep {
  height: 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(175, 175, 175);
}

.infotext {
  display: flex;
  justify-content: space-around;
}

.infotextname {
  width: 20%;
}

.lineitem {
  display: flex;
  justify-content: space-around;
}

.infoitemorder {
   width: 20%;
}