<footer>
  <div class="upper-line">
    <%= image_tag 'logo.png', alt: 'Logo', class: 'logo-footer' %>
    <%= link_to 'Contact', contact_path, class: 'link-footer' %>
  </div>

  <div class="lower-line">
    <p class="copyright-container">© 2024 The cat. Tous droits réservés.</p>
    <div class="payment-icons">
    <%= image_tag 'mastercard.png', alt: 'Mastercard', class: 'icon-footer' %>
    <%= image_tag 'visa.png', alt: 'Visa', class: 'icon-footer' %>
    </div>
  </div>

</footer>